<%- include('../../partials/header'); %>
<!-- * Ingeniria de Software
* 04/04/2021
* 
* Arturo Ortega Robles
* Diego Antonio Paredes -->


  <h2>Productos</h2>
  <a href="productos/nuevo" class="btn btn-primary">Nuevo Producto</a>
  <a href="productos?deleted=true" class="btn btn-warning">Mostrar Eliminados</a>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#id</th>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Status</th>
          <th>Última modificación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody x-data="productsData()">
        <% for(const producto of productos){  %>
          <tr>
            <td><%= producto.id %></td>
            <td><%= producto.titulo %></td>
            <td><%= producto.descripcion %></td>
            <td>$<%= producto.precio %></td>
            <td>
              <% if (!producto.status) { %>
                <span class="badge bg-danger">Eliminado</span>
              <% } else { %>
                <span class="badge bg-primary">Activo</span>
              <% } %>
            </td>
            <td><%= new Date(producto.reg_date).toISOString().substring(0,10) %></td>
            <% if (!producto.status) { %>
              <td class="btn btn-outline-success" @click="deleteItem(<%= producto.id %>, <%= !producto.status %>)">reactivar</td>
            <% } else { %>
              <td class="btn btn-outline-danger" @click="deleteItem(<%= producto.id %>, <%= !producto.status %>)">eliminar</td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
    <% if (productos.length === 0) { %>
      <div class="alert alert-warning" role="alert">
        No se encontraron productos
      </div>
    <% } %>
  </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
  function productsData() {
      return {
        async deleteItem(id, reactive) {
          if (!id) return
          try {
            await axios.delete(`/app/productos/${id}${reactive ? '?reactive=true' : ''}`)
            location.reload()
          } catch (error) {
            alert('Error al eliminar')
          }
        }
      }
    }
</script>

<%- include('../../partials/footer'); %>
